<h2> Form for - <%= @travellerinput.email %></h2>


<!-- http://localhost:3000/trips/84885c35ebb07dab72e6ab68c1ba485c9f582a2b/checkout -->

Stripe shit

	<!-- hidden field where stripe populates card ID

	1 form that doesnt submit to rails... users card information, button goes to stripe
	1 form that does submit to rails, passes the card ID from stripe ... pay action in trips controller-->