Hi <%= @trip.email %>. </br>
Thanks for paying. A host should email you within 48 hours. If they don't please email got@ripped.off.
</br>
<p>Here's your receipt code. Give this to your host only after ya'll go HAM.</p>
<h1><%= @trip.charge_guid %></h1>